.left-right-space {
    padding: 32px;
  }
  .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
 .s-layout__content {
    flex: 1;
 }
 .dashboard-conent-align {
   padding-top: 500px;
  }
 
 
  // table
 
  #customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #abce65;
    color: white;
  }
 
  .gateway-btn-style {
   padding: 5px 10px;
   border: 0;
   min-height: 45px;
   min-width:140px;
   background: var(--login-btn-background-color);
   border-radius: var(--normal-radius);
 }
 
 .login-banner {
   .align-content {
     height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   .login-banner-img {
     width: 600px;
     max-width: 700px;
   }
 }
 .banner-full-height {
   background-color: var(--login-banner-background-color);
   height: 100vh;
 }
 .login-btn-style {
   padding: 5px 10px;
   border: 0;
   min-height: 45px;
   min-width: 140px;
   background: var(--login-btn-background-color);
   border-radius: var(--normal-radius);
 }